@import 'tailwindcss';
@variant dark (&:where(.dark, .dark *));

html.dark {
  color-scheme: dark;
}

:root {
  --background: var(--color-zinc-100);
  --foreground: var(--color-zinc-900);
  --primary: var(--color-blue-400);
  --secondary: var(--color-slate-400);
  --accent: oklch(86.93% 0.0326 190.42);
}

.dark {
  --background: var(--color-zinc-900);
  --foreground: var(--color-zinc-100);
  --primary: var(--color-blue-600);
  --secondary: var(--color-slate-600);
  --accent: oklch(29.64% 0.0293 188.94);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}
