body {
  background: #f6f6f6;
  box-sizing: border-box;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

footer .container {
  background: lightgrey;
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  width: 100%;
}

.slidecontainer {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}

.slick-slide img {
  height: 80vh;
  width: auto;
  margin: 0 auto;
}
